{% extends 'silsite/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="form">
        <p>Вход на сайт</p>
        <form method='POST'>
            {% csrf_token %}
            <label for="id_username" class="form-label">Имя пользователя</label><br>
            {{ form.username }}<br>
            <label for="id_passowrd" class="form-label">Пароль</label><br>
            {{ form.password }}<br>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type='submit' name='login' id='my_buttons' class="btn btn-primary">Войти</button>
        </form>
    </div>
{% endblock %}