{% extends 'silsite/base.html' %}

{% block content %}
    <a href = "{% url 'logout' %}"><button>Logout</button></a>
    <a href = "{% url 'new_project' %}"><button>New project</button></a>
    <a href = "{% url 'projects' %}"><button>My projects</button></a>
    {% if projects %}
    <div>
        <p class="content-description">Здесь вы можете увидеть все проекты, загруженные в систему</p>
        <table class="project-table">
            <thead>
                <tr class="project-table-header">
                    <td>Название проекта</td>
                    <td>Научный руководитель</td>
                    <td>Участники проекта</td>
                </tr>
            </thead>
            <!-- TODO: поменять в соответствие с бэком -->
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.teacher.username }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p> No projects </p>
    {% endif %}
{% endblock %}