{% extends 'silsite/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/project_table.css' %}">
{% endblock %}

{% block content %}
    
    {% if projects %}
    <div style="text-align:center;">
        <br>
        <p>Здесь вы можете увидеть все проекты, загруженные в систему</p>
        {% include "silsite/project_table.html" %}
    </div>
    {% else %}
        <p>Проектов нет</p>
    {% endif %}
{% endblock %}