{% extends 'silsite/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/user_view.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/project_view.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <p>Название проекта: {{ project.name }}</p>
    <p>Подтверждено пользователем: <span>{{ project.teacher.username }}</span></p>
    <p>Связь с пользователем: <span>{{ project.teacher.email }}</span></p>
    <div class="btn-group">
        <div class="dropdown">
            <a style="background-color: #6C7AE0; color: white;"class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Скачать
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="/media/{{ short_text_name }}" download>Аннотация проекта</a></li>
                <li><a class="dropdown-item" href="/media/{{ text_name }}" download>Текст проектной работы</a></li>
                <li><a class="dropdown-item" href="/media/{{ presentation_name }}" download>Презентация</a></li>
            </ul>
        </div>
        {% if project.teacher.username == username %}
        <div class="dropdown">
            <a style="background-color: #6C7AE0; color: white; margin-left: 20px;" class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Изменить
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><a class="dropdown-item" href="edit">Основная информация</a></li>
                <li><a class="dropdown-item" href="add">Добавить видео</a></li>
                <li><a class="dropdown-item" href="delete">Удалить проект</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}