{% extends 'silsite/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/project_table.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/user_view.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <p>Имя пользователя: <span>{{ User.username }}</span></p>
        <p>Связь с пользователем: <span><a href="mailto:{{ User.email }}">{{ User.email }}</a></span></p>
        <p>Ниже представлены проекты данного пользователя</p>
        {% if projects %}
            {% include "silsite\project_table.html" %}
        {% else %}
            <p>Проектов нет :(</p>
        {% endif %}
    </div>
{% endblock %}