{% extends 'silsite/base.html' %}

{% block content %}
    <style> h4 {margin: 20px 40% 20px} </style>
    <h2> User {{ User.username }} </h2>
    <h3> {{ User.email }} </h3>
    <p><h4> Ваши проекты </h4>
    <div class="content">
        <table class="project-table">
            <thead>
                <tr class="project-table-header">
                    <td>Название проекта</td>
                    <td>Участники проекта</td>
                </tr>
            </thead>
            <tbody>
                {% if projects %}
                    {% for project in projects %}
                        <tr>
                            <td><a href="projects/project/{{ project.id }}/">{{ project.name }}</a></td>
                            <td>{{ project.students }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>Здесь пусто</td><td></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}