@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: #6C7AE0;
    height: 60px;
}

.header p {
    color: #FFF;
    display: inline-block;
    margin-left: 2%;
}

.header a {
    color: #FFF;
    margin-left: 70%;
    line-height: 60px;
    outline: none;
    text-decoration: none;
}
