@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: #6C7AE0;
    height: 60px;
}

.header a {
    color: #FFF;
    outline: none;
    text-decoration: none;
    line-height: 60px;
}

.logo {
    float: left;
    margin-left: 35px;
}

.button {    
    float: right;
    margin-right: 40px;
    margin-left: 20px;
}
